# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

zip

app/bin/main
imgui.ini
IMGUI.txt

*.log
*.prefs
*.DS_STORE

.project
app/.project
app/.classpath
.vscode
.settings